# GEMINI_API_KEY: Clave gratuita de Google AI Studio (Opcional)
GEMINI_API_KEY=

# Supabase Frontend Credentials
VITE_SUPABASE_URL=https://kkkhwhemraiyozqjsisl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtra2h3aGVtcmFpeW96cWpzaXNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwMDc5NjAsImV4cCI6MjEwMzU4Mzk2MH0.2p_qdFrI5yBJDgnDXiETP560epmdiHyUgpDIz4_NhZo

